*.py[cod]
*.sqlite3
*.sh
fabfile/*
staphopia/settings/private.py
logs/*
*.log
staphopia/static/admin
staphopia/static/grappelli
staphopia/static/rest_framework
exps.txt
missing_fastq.txt
runs.txt
study.txt
insert_variant.*
*.err
*.out
.Rproj.user
*.*~
