.Rproj.user
*.*~
*.py[cod]
*.sqlite3
*.sh
*.txt
!requirements.txt

logs/*
!logs/.gitignore

staphopia/settings/private.py
staphopia/static/admin
staphopia/static/grappelli
staphopia/static/rest_framework
staphopia/static/django_extensions/

