.Rproj.user
*.*~
*.py[cod]
*.sqlite3
*.sh
*.txt
*.sql
*.gz
!requirements.txt
!staphopia/templates/registration/*.txt

logs/*
!logs/.gitignore

staphopia/settings/private.py
staphopia/static/admin
staphopia/static/grappelli
staphopia/static/rest_framework
staphopia/static/django_extensions/
staphopia/constants.py
