Django==1.7
git+git://github.com/macropin/django-registration
django-crispy-forms==1.4.0
python-magic==0.4.6
django-datatables-view==1.12
psycopg2==2.5.4
django-email-changer==0.1.2
django-storages==1.1.8
boto==2.32.1
