#uwsgi
Django==2.2.21
psycopg2==2.7.3.2
django-crispy-forms==1.7.0
django-extensions==1.9.8
django-filter==2.0.0.dev1
django-guardian==1.4.9
django-registration-redux==2.4
python-magic==0.4.15
urllib3>=1.24.2
beautifulsoup4==4.6.0
lxml==4.6.3
djangorestframework>=3.9.1
markdown==2.6.9
git+https://github.com/rpetit3/scholarly.git
requests

# Needs Testing
django-datatables-view==1.14.0
