Django==1.8.2
git+git://github.com/macropin/django-registration
django-crispy-forms-ng==2.0.0
python-magic==0.4.6
django-datatables-view==1.12.1
psycopg2==2.6
django-email-changer==0.1.2
django-storages-redux==1.2.3
boto==2.32.1
django-grappelli==2.6.4
djangorestframework==3.2.4
markdown==2.6.2
django-filter==0.9.2
PyVCF==0.6.7
bitarray==0.8.1
architect==0.5.2
django-extensions
pygraphviz
git+https://github.com/staphopia/scholar.py.git#egg=scholar
psutil==3.2.1
