{% block sidebar %}
    <div class="col-sm-3 col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Personal Settings</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="/settings/admin/">Account</a>
                </li>
                <li class="list-group-item">
                    <a href="/settings/email/">Email</a>
                </li>
                <li class="list-group-item">
                    <a href="/settings/autofill/">Autofill Settings</a>
                </li>
                <li class="list-group-item">
                    <a href="/settings/api-token/">Personal API Token</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

