{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Staphopia - Submission{% endblock %}

{% block container %}
    <div class="row">
        <div>
            <h3>New Sample Submission</h3>
            <p class="indent">
                You may use this form to submit your S. aureus genome to Staphopia. 
                Please note, you must fill out all fields in bold-italics. Also, 
                input sequences must be in FASTQ format, and be compressed using 
                either Zip (.zip), Gzip (.gz), or Bzip2 (.bz2) protocols.
            </p>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-1">
        {% crispy form %}
        </div>
    </div>
{% endblock %}