{% load humanize %}
{% load summary %}
<h2 id="assembly-stats">Assembly Stats</h2>
<p>
The processed reads undergo a <em>de novo</em> assembly using SPAdes.
</p>
<hr />
<div class="row">
    <div class="col-lg-6 col-sm-12">
        <table class="table table-striped">
            <tbody>
            {% for k, v in assembly.items %}
                <tr>
                    <td>{{k}}</td>
                    <td>{{v}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<hr />
