{% load staticfiles %}

<div class="panel-group" id="accordion">
    <div class="panel panel-info">
        <!-- Rank -->
        <div class="panel-heading" style="text-align: center">{{ sample_tag }}</div>
        <div class="panel-body text-center">
            {% if rank == 3 %}
                <img title="Gold quality data."src="{% static "img/gold.png" %}">
            {% elif rank == 2 %}
                <img title="Silver quality data." src="{% static "img/silver.png" %}">
            {% else %}
                <img title="Bronze quality data." src="{% static "img/bronze.png" %}">
            {% endif %}

        </div>

        <!-- Summary -->
        <div class="list-group">
            <a id="summary" class="list-group-item list-group-item-info title-group">
                Sample Summary
            </a>
        </div>
        <div id="collapseSummary" class="list-group panel-collapse collapse in">
            {% if user == 'ena' %}
                <a title="European Nucleotide Archive (ENA) related information"
                   id='show-ena-info' class="list-group-item active" href="#">ENA Information</a>
                <a id='show-meta-data' class="list-group-item" href="#">Meta-Data</a>
            {% else %}
                <a id='show-meta-data' class="list-group-item active" href="#">Meta-Data</a>
            {% endif %}
            <a id='show-sequence' class="list-group-item" href="#">Sequence Quality</a>
            <a id='show-assembly' class="list-group-item" href="#">Assembly</a>
            <a id='show-mlst' class="list-group-item" href="#">MLST</a>
        </div>
    </div>
</div>
