{% load staticfiles %}
<nav id="left-navbar" class="col-sm-4 col-md-4 col-lg-3 col-xl-2 d-none d-sm-block bg-light sidebar">
  <ul class="nav nav-stacked flex-column">
    <li class="nav-item" style="background-color: #d9edf7">
      <h4 class="card-header text-center" style="background-color: #d9edf7">{{ sample_tag }}</h4>
    </li>
    <li class="nav-item text-center">
    {% if rank == 3 %}
        <img style="width: 4rem;" title="Gold quality data."src="{% static "img/gold.png" %}">
    {% elif rank == 2 %}
        <img style="width: 4rem;" title="Silver quality data." src="{% static "img/silver.png" %}">
    {% else %}
        <img style="width: 4rem;" title="Bronze quality data." src="{% static "img/bronze.png" %}">
    {% endif %}
    </li>
    <li role="separator" class="dropdown-divider"></li>
    <li class="nav-item">
      <a id="sample-information-link" class="nav-link" href="#sample-metadata">Sample Metadata</a>
      <nav class="nav nav-stacked flex-column">
        <a class="nav-link my-1" href="#sample-information">Sample Information</a>
        <a class="nav-link my-1" href="#sequencing-information">Sequencing Information</a>
      </nav>
    </li>
    {% if has_ena_links %}
    <li class="nav-item">
      <a class="nav-link" href="#ena-links">ENA Links</a>
    </li>
    {% endif %}
    <li role="separator" class="dropdown-divider"></li>
    <li class="nav-item">
      <a class="nav-link" href="#sequence-quality">Sequence Quality</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#assembly-stats">Assembly Stats</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#mlst">MLST</a>
      <nav class="nav nav-stacked flex-column">
        <a class="nav-link my-1" href="#mlst-srst2">SRST2 Results</a>
        <a class="nav-link my-1" href="#mlst-blast">BLAST Results</a>
      </nav>
    </li>
  </ul>
</nav>
