{% load humanize %}
{% load summary %}

<h2 id="sample-information">Sample Metadata</h2>
<p>
Sample information includes metadata collected from BioSample and BioProject records.
For those samples with publications, some metadata may have been included from the
publication.
</p>
<h3>{{ metadata.user_id }}</h3>
<div class="row">
    <div class="col">
        <h5>Sample Information</h5>
        <table class="table table-striped">
            <tbody>
            {% for k, v in sample.items %}
                <tr>
                    <td>{{k}}</td>
                    <td>{{v}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col">
        <div class="row">
            <h5>Sequencing Information</h5>
            <table class="table table-striped">
                <tbody>
                {% for k, v in sequencing.items %}
                    <tr>
                        <td>{{k}}</td>
                        <td>{{v}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if ena %}
        <div class="row">
            <h5>ENA Links</h5>
            <table class="table table-striped">
                <tbody>
                {% for k, v in ena.items %}
                    <tr>
                        <td>{{k}}</td>
                        <td>{{v}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</div>
