{% load humanize %}
{% load summary %}

<h2 id="sample-metadata">Sample Metadata</h2>
<p>
Sample information includes metadata collected from BioSample and BioProject records.
For those samples with publications, some metadata may have been included from the
publication.
</p>
<hr />
<div class="row">
    <div class="col-lg-6 col-sm-12">
        <h5 id="sample-information">Sample Information</h5>
        <table class="table table-striped">
            <tbody>
            {% for k, v in sample.items %}
                <tr>
                    <td>{{k}}</td>
                    <td>{{v}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-lg-6 col-sm-12">
        <h5 id="sequencing-information">Sequencing Information</h5>
        <table class="table table-striped">
            <tbody>
            {% for k, v in sequencing.items %}
                <tr>
                    <td>{{k}}</td>
                    <td>{{v}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<hr />
{% if ena %}
<div class="row">
    <div class="col-lg-6 col-sm-12">
        <h5 id="ena-links">ENA Links</h5>
        <table class="table table-striped">
            <tbody>
            {% for k, v in ena.items %}
                <tr>
                    <td>{{k}}</td>
                    <td>{{v}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<hr />
{% endif %}
