{% load humanize %}
{% load summary %}

<div id="mlst_related_panel" class="panel panel-info hide">
    <div class="panel-heading">Related Samples</div>
    <div class="panel-body">
        <div class="row">
            <div class='col-xs-12 col-md-12'>
                <table id="mlst_related_table" class="dataTable table table-striped table-bordered table-hover table-condensed" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Sample Tag</th>
                            <th>Rank</th>
                            <th>Sequencing Center</th>
                            <th>Sequence Type</th>
                            <th>Q-Score</th>
                            <th>Coverage</th>
                            <th>Mean Read Length</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
