{% load humanize %}
{% load summary %}
<h2 id="sequence-quality">Sequence Quality</h2>
<p>
Sequencing reads undergo error correction, quality filtering and subsampling to
a maximum of 100x coverage. The statistics for both the original and processed
reads are reported below.
</p>
<hr />
<div class="row">
    <div class="col">
        <h5>Original Sequence Stats</h5>
        <table class="table table-striped">
            <tbody>
            {% for k, v in original.items %}
                <tr>
                    <td>{{k}}</td>
                    <td>{{v}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col">
        <h5>Processed Sequence Stats</h5>
        <table class="table table-striped">
            <tbody>
            {% for k, v in processed.items %}
                <tr>
                    <td>{{k}}</td>
                    <td>{{v}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col">
        <div id="sequence-quality-chart" class="contains-chart"
             style="min-width: 300px; height: 600px; margin: 0 auto"> </div>
    </div>
</div>
<div id="hidden-table-sequence" style="display: none;">
    <table id="seqeunce-quality-table" class="table text-center">
        <thead>
            <tr>
                <td>Position</td>
                <td>Original</td>
                <td>Processed</td>
            </tr>
        </thead>
        <tbody>
        {% for row in per_base %}
            <tr>
                <td>{{ row.0 }}</td>
                <td>{{ row.1.0 }}</td>
                <td>{{ row.1.1 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<hr />
