{% extends 'base.html' %}

{% block container %}
    <div class="row">
        {% include "accounts/settings-sidebar.html" %}
    
        <div class="col-sm-9 col-md-10">
            <div class="row">
                <div>
                    <h3>Email Updated</h3>
                    <p class="indent">
                        We have verified your new email address and will now 
                        contact you at {{ request.user.email }}.
                </div>
            </div>
        </div>
    </div>
{% endblock %}