{% extends "base.html" %}

{% block title %}Staphopia - Email Change{% endblock %}

{% block container %}
    <div class="row">
        {% include "settings/sidebar.html" %}

        <div class="col">
            <div class="row">
                <div>
                    <h3>Change Your Staphopia Email</h3>
                    <p class="indent">
                        To change your Staphopia email, please fill out the form
                        below.
                    </p>
                    <hr />
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-8">
                    {% if form.errors %}
                        <div class="alert alert-warning" role="alert">
                        <h5>Whoops! One or more fields has a problem!</h5>
                            {% for field,error in form.errors.items %}
                                <p>{{ error|join:"" }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <form class="form-horizontal" role="form" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label" for="id_old_email">Current Email </label>

                            <div>
                                <input disabled value={{ user.email }} id="id_old_email"
                                       name="old_email" type="email" class="form-control input-md">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="id_new_email">New Email </label>

                            <div>
                                <input id="id_new_email" required name="new_email" type="email" class="form-control input-md">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="id_confirmed_email">Confirm Email </label>

                            <div>
                                <input id="id_confirmed_email" required name="confirmed_email" type="email" class="form-control input-md">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="id_password">Password </label>

                            <div>
                                <input id="id_password" required name="password" type="password" class="form-control input-md">
                            </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-4 col-md-4 control-label" for="submit"></label>
                          <div>
                            <button id="submit" name="submit" class="btn btn-primary">Change Email</button>
                          </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
