{% extends 'base.html' %}

{% block container %}
    <div class="row">
        {% include "settings/sidebar.html" %}

        <div class="col">
            <div class="row">
                <div>
                    <h3>Notification Sent!</h3>
                    <p class="indent">
                        We have sent you an email containing steps to verify
                        you new email address.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

