/*
    Staphopia specific CSS
*/
body {
    font-family: 'Roboto Slab', serif;
    font-size: 16px !important;
    padding-top: 4em;
}

/* ------------------------------------
    Shared
------------------------------------ */
.navbar {
    background-color: #000;
    border: none !important;
}

footer .copyright {
    text-align: center;
}

/* ------------------------------------
    index.html
------------------------------------ */
p {
    line-height: 1.55em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

p.indent {
    text-indent: 2em;
    text-align: justify;
}

/* ------------------------------------
    samples.html
------------------------------------ */
.footnote {
    font-size: 14px !important;
}

#samples_table_wrapper {
    font-size: 12px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    cursor: pointer;
    background-color: #2ba6cb !important;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th{
    background-color: #E2E4FF;
}

/* sample-results */
.sidebar {
  position: fixed;
  top: 56px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #eee;
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}
