/*
    Staphopia specific CSS
*/

/* ------------------------------------
    Shared
------------------------------------ */
.navbar-right {
    margin-right: 0em !important;
}

div.fix-navbar {
    margin-top: 40px;
}

footer .copyright {
    text-align: center;
}

/* ------------------------------------
    index.html
------------------------------------ */
p {
    line-height: 1.55em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

p.indent {
    text-indent: 2em;
    text-align: justify;
}

img.embed {
    max-width: 100%;
    height: auto;
    border: 1px solid #000000;
}

/* ------------------------------------
    contact.html
------------------------------------ */
div.panel {
    margin-top: 20px;
    margin-bottom: 0px;
}

div.form-group {
    margin-bottom: 0px !important;
    height: 49px;
}

label.text-right {
    padding-right: 0px;
}

div.adjust-height {
    height: 200px;
}

textarea.form-control {
    height: 160px;
}

button#submit {
    padding: 6px 36px;
}