{% block sidebar %}
    <div class="col-sm-3 col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ user.username }}</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="/accounts/autofill/">Autofill Settings</a>
                </li>
                <li class="list-group-item">
                    <a href="/accounts/email/change/">Change Email</a>
                </li>
                <li class="list-group-item">
                    <a href="/accounts/password/change/">Change Password</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

