{% url 'home' as home %}
{% url 'submission' as submission %}
{% url 'samples' as samples %}
{% url 'top10' as top10 %}
{% url 'contact' as contact %}
{% load navbar %}
{% load settings %}

{% block navbar %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Staphopia</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarTop" aria-controls="navbarTop"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTop">
    <!-- Left Nav Section -->
    <ul class="navbar-nav mr-auto">
        <li class="nav-item {% active request home %}"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item {% active request samples %}"><a class="nav-link" target="_blank" href="https://doi.org/10.6084/m9.figshare.14394704.v1">Samples</a></li>
        <li class="nav-item {% active request top10 %}"><a class="nav-link" href="/top10/">Top 10</a></li>
    </ul>
    <!-- Right Nav Section -->
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/token/">Generate or Retrieve API Token</a>
        </li>
    </ul>
  </div>
</nav>
<br />
{% endblock %}
