{% load staticfiles %}
{% load settings %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "css/staphopia.css" %}">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold&subset=Latin">
    {% block css %}{% endblock %}
    <title>{% block title %}Staphopia{% endblock %}</title>
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" />
</head>

<body>
    <!-- Top Bar -->
    {% include 'base_navbar.html' %}
    <!-- End Top Bar -->

    <!-- Main Content-->
    <div class="container fix-navbar">
        {% block container %}{% endblock %}
    <!-- End Main Content-->

    <!-- Footer -->
    <footer class="row">
        <div>
            <hr />
            <div class="copyright">Copyright &#169; 2012-2015 Emory University. All rights reserved.</div>
        </div>
    </footer>
    <!-- End Footer -->
    </div>

    <!-- Javascipt -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static "/static/js/bootstrap.min.js" %}"></script>
    <script src="{% static "/static/js/staphopia.js" %}"></script>

    {% if user.is_authenticated %}
    <script>
        $(document).ready(function() {
            $("body").tooltip({ selector: '[data-toggle=tooltip]' });
        });
    </script>
    {% endif %}

    {% block js %}
    {% endblock %}
    <!-- End Javascript -->

</body>
</html>

