{% extends "base.html" %}
{% block nav-contact %}active{% endblock %}
{% block container %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3>Contact Us</h3>
            <p class="indent">
                We at Staphopia, are always looking for feedback from our userbase.  Please take this 
                opportunity to ask questions, provide suggestions to improve Staphopia, or even submit
                feature requests you might have. 
            </p>
            <hr />
            <form id="contactForm" class="custom" onSubmit="submitContact(); return false;">
                <div class="form-group">
                    <label class="col-xs-2 col-md-2 control-label text-right" for="name">Name:</label>  
                    <div class="col-md-5 col-xs-10">
                        <input id="name" name="name" type="text" placeholder="Marvin" class="form-control input-md">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 col-md-2 control-label text-right" for="email">Email:</label>  
                    <div class="col-md-5 col-xs-10">
                        <input id="email" name="email" type="email" placeholder="myemail@mydomain.com" class="form-control input-md">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 col-md-2 control-label text-right" for="subject">Subject:</label>  
                    <div class="col-md-5 col-xs-10">
                        <input id="subject" name="subject" type="text" placeholder="Questions, Suggestions, Feature Requests" class="form-control input-md">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label text-right" for="message">Message:</label>
                    <div class="col-md-9 col-xs-12">                     
                        <textarea class="form-control" id="message" name="message"></textarea>
                    </div>
                </div>
                <div class="form-group">
                  <label class="col-xs-7 col-md-3 control-label" for="submit"></label>
                  <div class="col-xs-2 col-md-3 col-md-offset-9">
                    <button id="submit" name="submit" class="btn btn-primary">Contact</button>
                  </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
