{% extends "base.html" %}

{% block container %}
    <div class="row">
        <div>
            <h3>Contact Us</h3>
            <p class="indent">
                We are always looking for feedback from our userbase. Feel free
                to ask questions, provide suggestions to improve Staphopia, or
                even submit any feature requests you might have.
            </p>
            <hr />
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6 ">

        </div>
    </div>
{% endblock %}
