{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css"
          href="//cdn.datatables.net/plug-ins/725b2a2115b/integration/bootstrap/3/dataTables.bootstrap.css">
    <style>
        #advanced-search div.row {
            margin-right: 0px;
        }
        .clickable{
            cursor: pointer;
        }

        .panel-heading {
            padding: 5px 10px !important;
        }

        .panel-body {
            padding: 10px;
        }

        .panel-heading span {
            margin-top: -20px;
            font-size: 16px;
        }

        .pagination {
            margin: 0 0;
        }
    </style>
{% endblock %}

{% block container %}
    <div class="row">
        <div id="advanced-search" class=".col-xs-12 col-sm-6 col-md-4 col-lg-3" >
            <h3> </h3>
            <div class="row">
                Filter Your Results
            </div>
            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h6 class="panel-title">Sequence Quality</h6>
                        <span class="pull-right clickable panel-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span>
                    </div>
                    <div class="panel-body" style="display: none;">Panel content</div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">Seqeunce Type (ST)</h4>
                        <span class="pull-right clickable panel-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span>
                    </div>
                    <div class="panel-body" style="display: none;">Panel content</div>
                </div>
            </div>
        </div>
        <div class=".col-xs-12 col-sm-6 col-md-8 col-lg-9">
            <div class="row">
                <h3>Staphopia Samples</h3>
                <hr class="small-margin"/>
                A variety of <em>S. aureus</em> are readily available from Staphopia.
                You can use the key word search below, to narrow down the results. For
                a more fine tuned search, you may use the advanced search functions
                to the left.
            </div>
            <div class="row" style="text-align: right;">
                <h3></h3>
                <em>Displaying page {{ samples.number }} of {{ total_pages }}</em>
            </div>
            <div class="row">
                <table class="table table-bordered table-hover table-condensed">
                  <thead>
                    <tr>
                      <th>Sample Tag</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for sample in samples %}
                      <tr>
                        <td><a href="/sample/{{sample.pk}}">{{ sample.sample_tag }}</a></td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
            <div class="row" style="text-align: center">
                {% if samples.has_other_pages %}
                  <ul class="pagination">
                    {% if samples.has_previous %}
                      <li><a href="?page={{ samples.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                      <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}

                    {% for i in page_range %}
                      {% if samples.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                      {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if samples.has_next %}
                      <li><a href="?page={{ samples.next_page_number }}">&raquo;</a></li>
                    {% else %}
                      <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                  </ul>
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}

{% block js %}
    <!--
        Collapsible Panel by robm
        http://bootsnipp.com/snippets/featured/collapsible-panel
    -->
    <script>
        $(document).on('click', '.panel-heading span.clickable', function(e){
            var $this = $(this);
            if(!$this.hasClass('panel-collapsed')) {
                $this.parents('.panel').find('.panel-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
            } else {
                $this.parents('.panel').find('.panel-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
            }
        });
    </script>
{% endblock %}
