{% extends "base.html" %}

{% block title %}Staphopia - Password Reset{% endblock %}

{% block container %}
    {% if validlink %}
    <div class="row">
        <div>
            <h3>Reset Your Staphopia Password</h3>
            <p class="indent">
                To reset your Staphopia password, please fill out the form 
                below. Once completed you will be able to log into Staphopia 
                using your new password.
            </p>
            <hr />
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            {% if form.errors %}
                <div class="alert alert-warning" role="alert">
                <strong>Whoops! One or more fields has a problem!</strong>
                    {% for field,error in form.errors.items %}
                        {% if field == "new_password1" %}
                            <p class="indent">New Password: {{ error|join:"" }}</p>
                        {% elif field == "new_password2" %}
                            <p class="indent">Repeat New Password: {{ error|join:"" }}</p>
                        {% else %}
                            <p class="indent">Passwords: {{ error|join:"" }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

            <form class="form-horizontal" role="form" method="post" action="?next={{ next|default:"/" }}">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-sm-4 col-md-4 control-label" for="id_new_password1">New Password </label>
                    
                    <div class="col-sm-6 col-md-5">
                        <input id="id_new_password1" name="new_password1" type="password" class="form-control input-md"
                               pattern="^.{8,}$" title="Must be at least 6 characters in length.">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 col-md-4 control-label" for="id_new_password2">Repeat New Password </label>
                    
                    <div class="col-sm-6 col-md-5">
                        <input id="id_new_password2" name="new_password2" type="password" class="form-control input-md"
                               pattern="^.{8,}$" title="Must be at least 6 characters in length.">
                    </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 col-md-4 control-label" for="submit"></label>
                  <div class="col-sm-2 col-md-2">
                    <button id="submit" name="submit" class="btn btn-primary">Reset Password</button>
                  </div>
                </div>
            </form>
        </div>
    </div>
    {% else %}
    <div class="fix-top-margin alert alert-warning" role="alert">
        <strong>Whoops! It didn't work!</strong>
        <p>
        We were unable to reset your password. The given password reset code 
        was not valid. You can try to  
        <a href="/accounts/password/reset/">reset your password again</a>. 
        </p>
        <p>
        If you are still having issues, please feel free to contact the 
        <a href="mailto:help@staphopia.com?Subject=%5BAccount%20Activation%20Issue%5D" target="_top">Staphopia Team</a>, 
        and we will help to resolve this issue.
        </p>
    </div>
    {% endif %}
{% endblock %}