{% extends "base.html" %}

{% block title %}Staphopia - Sign Up{% endblock %}

{% block container %}
    <div class="row justify-content-center">
        <div class="col-sm-8 col-md-6">
            <h3 class="text-center">Generate API Token</h3>
            <p class="text-justify">
                To register an account with Staphopia, please fill out the form
                to the below (all fields are required). Once completed an API Token
                will be generated for you.
            </p>
            <hr />
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-sm-8 col-md-6">
            {% if form.errors %}
                <div class="alert alert-warning" role="alert">
                <strong>Whoops! One or more fields has a problem!</strong>
                    {% for field,error in form.errors.items %}
                        {% if field == "email" %}
                            <p class="indent">Email Address: {{ error|join:"" }}</p>
                        {% elif field == "first_name" or field == "last_name" %}
                            <p class="indent">{{ field|title }}: {{ error|join:"" }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

            <form class="form-horizontal" role="form" method="post" action="?next={{ next|default:"/" }}">
                {% csrf_token %}
                <div class="form-group">
                    <label class="control-label" for="id_first_name">First Name </label>
                    <div class="">
                        <input id="id_first_name" maxlength="50" name="first_name" type="text"
                               class="form-control input-md" title="Your first name.">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="id_last_name">Last Name </label>
                    <div class="">
                        <input id="id_last_name" maxlength="50" name="last_name" type="text"
                               class="form-control input-md" title="Your last name.">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="id_email">Email Address </label>
                    <div class="">
                        <input id="id_email" name="email" type="email" class="form-control input-md">
                    </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="submit"></label>
                  <div class="">
                    <button id="submit" name="submit" class="btn btn-primary">Register</button>
                  </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
