{% extends "base.html" %}

{% block title %}Staphopia - Registration Complete{% endblock %}

{% block container %}
    <div class="row">
        <div class=>
            <h3>Registration complete, awaiting admin approval.</h3>
            <p>
                We have received your request to register a Staphopia account.
                A Staphopia admin has been notified of your request for an
                account and will review it as soon as possible. Thank you
                very much for your patience!
            </p>
        </div>
    </div>
{% endblock %}
