{% extends "base.html" %}

{% block title %}Staphopia - Registration Complete{% endblock %}

{% block container %}
    <div class="row">
        <div class=>
            <h3>Registration complete, check your email</h3>
            <p>
                We have received your request to register a Staphopia account.
                You should receive an email momentarily, describing the steps 
                required to activate your account.
            </p>
        </div>
    </div>
{% endblock %}
